---
layout: grads
permalink: "/grads/"
title: "Austin Coding Academy | Graduate Projects"
description: ""
---

<div class="container-fluid bg-purple background-logo py-10">
  <div class="row d-flex justify-content-center align-items-end">
    {% for page in site.pages %}
    {% if page.categories contains 'graduate' %}
    <div class="col-6 col-md-4 col-lg-3 mb-4">
      <div class="d-flex justify-content-center bg-semi-transparent rounded-top py-3">
        <!-- htmllint preset="none" -->
        <amp-img width="150" height="150" layout="fixed" class="rounded-circle" src="https://gravatar.com/avatar/{{ page.email | downcase | md5 }}?s=150&r=pg"
          alt="{{ page.fullname }}"></amp-img>
        <!-- htmllint preset="$previous" -->
      </div>
      <div class="text-center bg-white rounded-bottom py-2">
        <h3 class="h6">
          {{ page.fullname }}
          <span class="badge badge-success p-2 rounded">{{ page.skills[0] }}</span>
        </h3>
        <a href="{{ page.graduateProjectURL }}">
          <small class="text-dark link-underlined">
            {{ page.graduateProjectURL }}
          </small>
        </a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>