---
layout: default
permalink: "/student-grievances/"
head_title: Student Grievance Policy | {{ school.name }}
description: ''
redirect_from: []
title: Student Grievance Policy
policy_paragraphs:
- "Dear Students:\n\nAustin Coding Academy has a Certificate of Approval from the
  Texas Workforce Commission (TWC). \nThe TWC-assigned school number is: S5117-Austin
  Coding Academy\n\nThe school’s programs are approved by TWC.\n\nStudents must address
  their concerns about this school or any of its educational programs by following
  the grievance process outlined in the school’s catalog. Schools are responsible
  for ensuring and documenting that all students have received a copy of the school’s
  grievance procedures and for describing these procedures in the school’s published
  catalog. If, as a student, you were not provided with this information, please inform
  the school’s administrative staff.\n\nStudents dissatisfied with this school’s response
  to their complaint or who are not able to file a complaint with the school, can
  file a formal complaint with TWC, as well as with other relevant agencies or accreditors,
  if applicable.\n\nInformation on filing a complaint with TWC can be found on TWC’s
  website at: www.texasworkforce.org/careerschoolstudents\n\nComplaints may be directed
  to the school via email: S5117Director@zollege.com"
contact_name: ''
contact_phone: ''
contact_email: S5117Director@zollege.com
schools:
- key: austincodingacademy
  p1: 'If the committee solution is not accepted by the student, the student is able
    to contact:'
  twc_info:
  - Texas Workforce Commission
  - Career Schools and Colleges, Room 226T
  - 101 East 15th Street
  - Austin, Texas 78778-0001
  - 'Phone: (512) 936-6959'
  - http://csc.twc.state.tx.us/
  p2: Austin Coding Academy and its affiliated schools operate with a certificate
    of Approval from the Texas Workforce Commission. The TWC-assigned school numbers
    are shown below. Our programs are approved by the Texas Workforce Commission.
  twc_num_heading: 'School Names with their TWC-Assigned Numbers:'
  twc_north: North Austin Coding Academy - S5117
  twc_austin: Austin Coding Academy - S4976

---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
<div class="container mw-850 mt-90 pt-1 pb-5">
  <div class="p-5 border">
    <h2 class="font-family-alt font-weight-bold display-5 text-center mb-5">
      {{ page.title }}
    </h2>
    {% for paragraph in page.policy_paragraphs %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
</div>