---
layout: default
permalink: "/team/"
title: ""
description: ""
profiles:
    - name: Charles Cole
      title: Junior Web Developer
      bio: ""
      links:
        - link: mailto:charcole@protonmail.com
          icon: fas fa-envelope-square
          hex: "#303133"
        - link: https://github.com/charcole
          icon: fab fa-github-square
          hex: "#303133"
        - link: https://linkedin.com/in/char-cole
          icon: fab fa-linkedin
          hex: "#0077b5"
        - link:
          icon: fab fa-facebook-square
          hex: "#3b5998"
        - link:
          icon: fab fa-twitter-square
          hex: "#1da1f3"

---

<div class="container">
    <div class="row my-5 mx-auto d-flex justify-content-center align-items-end">
        {% for profile in page.profiles %}
        <div class="col-12 col-lg-6 mb-5">
            <div class="row">
                <div class="col">
                    <div>
                        <!-- htmllint preset="none" -->
                        <amp-img
                        width="1"
                        height="1"
                        layout="responsive"
                        class="img-fluid w-100 rounded"
                        src="https://gravatar.com/avatar/{{ grad.email | downcase | md5 }}?s=200&r=pg"
                        alt="{{ profile.name }}"
                        ></amp-img>
                        <!-- htmllint preset="$previous" -->
                    </div>
                    <div class="card border-0 shadow-sm mt-n6 mx-3">
                        <div class="card-body text-center p-2">
                            <h3 class="h6">{{ profile.name }}</h3>
                            <h4 class="size-14">{{ profile.title }}</h4>
                            <ul class="list-inline d-flex align-items-center justify-content-around flex-wrap">
                                {% for link in profile.links %}
                                {% if link.link %}
                                <li class="list-inline-item">
                                    <a href="{{ link.link }}" target="_blank" rel="noopener">
                                        <!-- htmllint preset="none" -->
                                        <i style="color: {{ link.hex }}" class="display-7 {{ link.icon }}"></i>
                                        <!-- htmllint preset="$previous" -->
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <p class="size-14">{{ profile.bio }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>