<section class="pt-8 pb-4">
  <h2 class="font-family-alt font-weight-bold text-center display-6">
    Our Graduates Are Working At
  </h2>
  <!-- <div id="logo-section" class="d-flex d-md-none w-100 w-sm-75 w-md-75 w-lg-75 mx-auto row justify-content-center align-items-center">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
      {% for logo in settings.logos %}
        <div class="carousel-item-{{ forloop.index }} {% if forloop.counter == 1 %}active{% endif %} d-flex align-items-center justify-content-center" id="slide{{ forloop.counter }}">
          <img
            width="{{ logo.width }}"
            height="{{ logo.height }}"
            class="w-100 h-auto img-fluid d-md-none mw-14r"
            src="{{ logo.src | liquify }}"
            alt="{{ logo.name | liquify }}"
          ></img>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
      {% endfor %}
    </div>
  </div> -->
  <div id="logo-img" class="d-md-flex w-100 w-sm-75 w-md-75 w-lg-75 mx-auto row justify-content-center align-items-center">
    <!-- <div style="height: 300px; width: 600px;"> -->
      <img
        class="w-100 img-fluid h-auto img-fluid"
        src="/assets/uploads/aca_student_companies_3x.webp"
        alt="company"
        loading="lazy"
      ></img>
    <!-- </div> -->
  </div>
</section>