<head>
  <style>
      .top-12 {
          margin-top: 12px;
      }
      .top-32 {
          margin-top: 32px;
      }
      .top-84 {
          margin-top: 84px;
      }
  </style>
</head>

<div class="container narrow section-margin">
  <section>
    <div style="padding-left: 20%;">
      <h1>New Student Assignment</h1>
      <br />
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js" style="text-align: center"></script>
      <script style="text-align: center">
        hbspt.forms.create({
        portalId: "4009818",
        formId: "60651a89-8f76-427f-aaf6-13263bfd9c6b"
      });
      </script>
    </div>
  </section>
</div>