{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<label class="form-label" for="location">PLEASE SELECT A PREP COURSE START DATE <span class="text-red-a">*</span></label>
<select class="form-control" id="location" name="start_date" required>
  <option value="" disabled selected>
    Please Select
  </option>
  <option disabled label="{{ location.name }}">
    {% assign start_dates = site.data.prepDates %}
      {% for start_date in start_dates %}
       <option
          value="{{ start_date.salesforce_id | append: ',' | append: start_date.hubspot_ticket_id | append: ',' | append: getaccept_entity_id | append: ',' | append: start_date.getaccept_template_id | append: ',' | append: location.hubspot_company_id }}"
        >Prep Course - {% if start_date.tbd == false %}{{ start_date.start_date | date: "%B %d, %Y" }}{% else %}TBD{% endif %} ({{ start_date.days }} {{ start_date.start_time }}-{{ start_date.end_time }})
        </option>
  {% endfor %}
</option>
</select>